body {
  background-image: url("mathPaper.jpg");
}

h1 {
  font-family: monospace;
  letter-spacing: 2px;
}

p {
  font-family: monospace;
  font-size: 24px;
  padding-bottom: 6%;
}

form {
  font-size: 22px;
  padding-bottom: 2%;
  font-family: cursive;
}

.box {
  background: white;
  border: solid;
  border-radius: 10px;
  border-color: #666;
  text-align: center;
  width: 50%;
  margin: auto;
  padding-top: 3%;
  padding-bottom: 3%;
  margin-top: 4%;
}

#numField1, #numField2 {font-size: 18px;}

.submitButton {font-size: 30px;}

#resultField {
  color: green;
  font-size: 30px;
}
